<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ProMan</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96"
          href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="module" defer>
        import {createPrivateBoard} from "../static/js/main.js";
        {#tworzy globalną zmienną i przypisuje funkcje#}
        window.createPrivateBoard = createPrivateBoard </script>
</head>
<body>
<div class="menu">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#"></a>
        </div>
        <div>
            <button type="button" id='666'>New Public Board</button>
            {% if user != 'guest' %}
                <button type="button" id="private-board" onclick="createPrivateBoard()">New Private Board</button>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
            {% if user == "guest" %}
				<li><a class="btn" href="{{ url_for('registration') }}" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				<li><a class="btn" href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% else %}
                <li><a class="btn" href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div id="root">
    <div class="private-board-container"></div>
    <div class="board-container"></div>
</div>
{% if ok %}
<h1>{{ ok }}</h1>
{% endif %}
</body>
</html>
